#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.taskList {
  list-style: none;
  padding: 0px;
  min-width: 321px;
}

.read-the-docs {
  color: #888;
}

.done {
  text-decoration: line-through;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column
}

input {
  margin: 10px;
  font-size: 25px;
}

.btn-done:active {
  background-color: #ccc;
  color: #000;
}

.btn-done:hover {
  cursor: pointer;
}

.btn-delete:active {
  background-color: lightcoral;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.tab.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
